/nbproject/private/
/BourseProjet-ejb/nbproject/private/
/BourseProjet-war/nbproject/private/
/BourseProjet-ejb/build/
/BourseProjet-ejb/dist/
/BourseProjet-war/build/
/build/
/BourseProjet-war/dist/
/dist/